<div class="col-xs-12 col-sm-6 sidebar-offcanvas">

	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-heading">
					<label>Classement des joueurs</label>
				</h4>
			</div>
			<table class="table table-striped">
			<thead>
				<tr>
				<th scope="col">Pseudo</th>
				<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>Utilisateur 1</td>
				<td>100</td>
				</tr>
				<tr>
				<td>Utilisateur 2</td>
				<td>85</td>
				</tr>
			</tbody>
			</table>
		  </div>
		</div>
	</div>

</div>