<div class="col-xs-12 col-sm-6 sidebar-offcanvas">

	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-heading">
					<label>Classement des joueurs</label>
				</h4>
			</div>
			<table class="table table-striped">
			<thead>
				<tr>
				<th scope="col">Pseudo</th>
				<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
			{{#each users}}
				<tr>
				<td>{{login}}</td> <!-- Afficher le login de l'utilisateur -->
				<td>{{points}}</td> <!-- Afficher les points de l'utilisateur -->
				</tr>
			{{/each}}
			</tbody>
			</table>
		  </div>
		</div>
	</div>

</div>