<div class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
	<div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a target="_blank" class="navbar-brand" style="padding-top: 5px;"><img src="images/JVLAN_PNG.png" width="150px"></img></a>
       <a target="_blank" class="navbar-brand navbar-brand-infos" style="font-weight: normal;" href="https://jvmag.ch/2022/09/11/jv_lan-du-30-septembre-au-2-octobre/">Règlement et infos</a>
       <a target="_blank" class="navbar-brand" style="font-weight: normal;" href="https://discord.gg/PGWYPDKW9G">Discord</a>
       <a target="_blank" class="navbar-brand" style="font-weight: normal;" href="https://download.jvlan.ch/">Téléchargement jeux</a>
       <a target="_blank" class="navbar-brand" style="font-weight: normal;" href="https://docs.google.com/spreadsheets/d/1Lvk8C8-esxf_OojMfbaGhEDzBf6cILEEXfaN5dAb1Fk/edit#gid=0">Planning</a>
       <a target="_blank" class="navbar-brand" style="font-weight: normal;" href="http://agario.jvlan.ch/">Agario</a>
       <div class="navbar-brand currenttime"></div>
	</div>
   </div>
</div>
