<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="panel-group">
     <div class="panel panel-default">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Utilisateurs</a>
           </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
           <div class="panel-body">
              <ul class="nav"></ul>
           </div>
        </div>
     </div>
  </div>
  <div class="panel-group" id="Commands">
     <div class="panel panel-default">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse2">Commandes</a>
           </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
           <div class="panel-body">
              <div class="btn-group-vertical" id="sidebar-buttons" role="group" aria-label="...">
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="panel-group" id="Links">
     <div class="panel panel-default">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse3">Liens admins</a>
           </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
           <div class="panel-body">
              <div class="btn-group-vertical" id="sidebar-buttons" role="group" aria-label="...">
		<a class="btn btn-default" href="https://rickroll.jvlan.ch">Rickroll</a>
                <a class="btn btn-default" href="https://unifi.jvlan.ch">Unifi</a>
		<a class="btn btn-default" href="https://panel.jvlan.ch">Panel de gestion des serveurs de jeux</a>
                <a class="btn btn-default" href="https://proxy.jvlan.ch/login">Proxy</a>
                <a class="btn btn-default" href="https://dns1.jvlan.ch/admin/login.php">DNS 1</a>
                <a class="btn btn-default" href="https://dns2.jvlan.ch/admin/login.php">DNS 2</a>
                <a class="btn btn-default" href="https://10.0.0.1">Firewall (Réseau admin uniquement)</a>
                <a class="btn btn-default" href="https://10.0.0.10/login.html">Proxmox 1 IDrac (Réseau admin uniquement)</a>
                <a class="btn btn-default" href="https://10.0.0.11:8006/">Proxmox 1 (FW,DNS2) (Réseau admin uniquement)</a>
                <a class="btn btn-default" href="https://10.0.0.20/login.html">Proxmox 2 IDrac (Réseau admin uniquement)</a>
		<a class="btn btn-default" href="https://10.0.0.21:8006/">Proxmox 2 (Cache,DNS1,Proxy,...) (Réseau admin uniquement)</a>
              </div>
           </div>
        </div>
     </div>
  </div>
  <footer class="footer" style="text-align: center;">
    <hr>
    <div>Copyright MIT - Tannerkrewson - Poli</div>
  </footer>
</div>
