<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Lansite</title>
</head>

<body>
    <div class="container">
        {{>navbar}}
        <br>
        <br>
        {{{body}}}
        <!--/.row-->
    </div>
    <!-- /container -->

    {{>scripts_base}}

</body>

</html>
