<div class="row row-offcanvas row-offcanvas-left">
	{{> sidebar}}
	<div id="stream" class="col-xs-12 col-sm-6">
		<!-- Contenu principal -->
	</div>

	<div id="sidebar-right">
		{{> sidebar_right}}
		{{> brackets}}
	</div>

	{{> leaderboard}}
</div>
</div>

