<!--

  Lansite Connect4Box HTML Template
  By Tanner Krewson

-->

<template id="Connect4Box">
	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Connect 4 entre membre de la LAN!</h3>
		</div>
		<div class="panel-body">
			<p class="Connect4Boxempty" style="text-align:center">Pas de jeux ouverts pour le moment.</p>
			<div class="matches">

			</div><br/>
			<button class="btn btn-primary pull-right matchadd" type="button">+Commencer une partie</button><br/>
		</div>
	</div>
</template>

<template id="Connect4Box-match">
	<div class="input-group match">
		<span class="input-group-addon matchstring" style="width: 100%; text-align: left;">
				error
	    </span>
	    <span class="input-group-addon">
	    	<button class="btn btn-primary matchaccept" type="button">Je joue!</button>
				<button class="btn btn-danger matchcancel" type="button">Annulé</button>
	    </span>
    </div>
</template>

<script src="js/boxes/Connect4Box.js"></script>
